node_modules/
dist/
artifacts/

docs/build/
docs/.docusaurus/
docs/.cache-loader/

venv/
.venv/

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~

__pycache__/
*.py[cod]
*.pyo

dataset_placas/
src/local_detections.db